html{
    background-image: url('./background.jpg');
}
@media (min-width: 900px){
    #cpp_joke{
        margin-top: -8rem;
        padding-top: -8rem;
    }
    #waiters{
        margin-top: -12rem;
        padding-top: -12rem;
    }
    #horses{
        margin-top: -2rem;
        padding-top: -2rem;
    }
    #cloud_joke{
        margin-top: 1rem;
        padding-top: 1rem;
    }
}
@media (min-width: 320px){
    #cpp_joke{
        margin-top: 2rem;
        padding-top: 2rem;
    }
    #waiters{
        margin-top: 2rem;
        padding-top: 2rem;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
    }
    #horses{
        margin-top: 12rem;
        padding-top: 12rem;
    }
    #cloud_joke{
        margin-top: 1rem;
        padding-top: 1rem;
    }
}