html{
    background-image: url('./background.jpg');
}
p{
    text-align: center;
    color:whitesmoke;
    background-color: indigo;
    height: 2em;
    width: 2em;
    border: solid;
    border-radius: 50%;
}
@media (min-width: 900px){
    #cpp_joke{
        margin-top: -8rem;
        padding-top: -8rem;
    }
    #waiters{
        margin-top: -12rem;
        padding-top: -12rem;
    }
    #horses{
        margin-bottom: -2rem;
        padding-bottom: -2rem;
    }
    #cloud_joke{
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }
}
@media (min-width: 320px){
    #cpp_joke{
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }
    #waiters{
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }
    #horses{
        margin-bottom: 12rem;
        padding-bottom: 12rem;
    }
    #cloud_joke{
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }
}